Source: l2t-tools
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), python-minimal (>= 2.6.6-3)
Build-Depends-Indep: python
Maintainer: Kristinn Gudjonsson <kristinn@log2timeline.net>
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/l2t-tools
X-Python-Version: >= 2.6

Package: l2t-tools
Architecture: all
Depends: ${python:Depends}
Recommends: log2timeline
Description: Tools designed to work with log2timeline's default output.
 Although YARA is not put as a strict dependency (will be shortly) it is
 vital if you want to be able to run the l2t_find_evil tool, so strongly
 recommend installing YARA before running it.
 L2t-tools provide few tools used to process the l2t_csv file that is the
 default output of log2timeline.
  + l2t_process.py - sort, filter and analyse your super timeline (l2t_csv).
  + l2t_find_evil.py - automated signature based scans on your supertimeline.
